<h1>{{title}}</h1>
<p>A simple web API endpoint that returns paginated results.  Visit <a href="/apps">/apps</a> to see a basic implementation of pagination.</p>

<p>For more information, please consult the <a href="https://github.com/Kiwi-x-Kiwi/pagination-endpoint">github page for this project.</a></p>
