<h1>400 Error</h1>
{{#if by}}
  <h2>Invalid value for <code>by</code> parameter. Only <code>name</code> and <code>id</code> are allowed.</h2>
  {{else}}
    <h2>The <code>by</code> parameter is required if you would like to search by range.</h2>    
{{/if}}